.card-home-img-top{
    width: 21rem;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.card-home{
    padding: 32px 14px 20px 32px;
    border-radius: 2px;
    width: 450px;
    height: 100%;
}